*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    position: absolute;
    width: 1170px;
    min-height: 100vh;
    margin-top: 50px;
    margin-left: 200px;

    font-family: 'Roboto', sans-serif;
}

[v-cloak] {
    display: none;
}




.btn {
    position: relative;

    padding: 20px 30px;
    border: 2px solid white;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .8s;
    overflow: hidden;
}





.btn:hover {
    color: rgb(32, 53, 63);
}

.btn span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: white;
    transition: width .9s, height .9s;
    z-index: -1;
}

.btn:hover span {
    width: 600px;
    height: 600px;
}

.btn-s {
    padding: 10.5px 30px;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.open {
    /* position: absolute; */
    margin-top: 25vh;
    max-height: 200px;
    text-align: center;
    transition: .9s;



}

.nav {
    display: flex;
    text-align: center;
    align-items: center;
    transition: .9s;

}



.content {
    position: relative;
}

.logo {
    /* position: absolute; */
    display: flex;
    font-size: 120%;
    letter-spacing: 5px;
    /* display: none; */
    transition: .5s;

}





.content__inner {
    /* display: flex; */
    position: relative;
    height: 100%;
    margin-top: -100px;
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.90);
    ;
    color: #000;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgb(58, 57, 57);
    padding-top: 20px;
    /* z-index: -10; */
}

.input {
    min-width: 80%;
    height: 40px;
    border: 2px solid #0000008c;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    outline: none;
    overflow: hidden;
    padding-left: 20px;
    margin-right: 30px;
}

.account {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: .5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: .5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #d5dddc;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    /* background: #1d2b3a; */
    border-right: 1px solide #d5dddc;
    border-left: 1px solide #d5dddc;
    letter-spacing: 0.2em;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    background: #d5dddc;
    color: #1d2b3a;
    border-radius: 2px;
}


.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #d5dddc;
}


.tableBtn {
    position: relative;
    padding: 10px 15px;
    border: 2px solid rgb(24, 23, 23);
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: rgb(20, 18, 18);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .8s;
    overflow: hidden;
    z-index: 10;
    cursor: pointer;
}





.tableBtn:hover {
    color: rgb(236, 236, 245);
}

.tableBtn span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #1d2b3a;
    transition: width .8s, height .8s;
    z-index: -1;
}

.tableBtn:hover span {
    width: 600px;
    height: 600px;
}

.list {
    position: relative;
    margin-bottom: 20px;
    /* max-width: 1000px; */
}

.list__item {
    /* position: absolute; */
    display: flex;
    margin: 0 40px 20px 50px;
    padding-bottom: 40px;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    word-break: break-all;
    letter-spacing: 1px;


}

.list__item:first-child {
    margin-top: 60px;
}

.removeBtn {
    min-width: 110px;
    position: relative;
    padding: 10px 15px;
    border: 2px solid rgb(24, 23, 23);
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: rgb(20, 18, 18);
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .8s;
    overflow: hidden;
    z-index: 10;
    cursor: pointer;
}

.removeBtn:hover {
    background: #1d2b3a;
    color: white;
}

.counter {
    display: flex;
    position: absolute;
    width: 10px;
    height: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 100px;
    margin-top: 15px;
    padding: 15px 15px;
    border: 1px solid #1d2b3a;
    border-radius: 100%;
    right: 0;


}




.s,
.f,
.hidden,
.openHidden,
.exitHidden,
.userName,
.table,
.loginNone {
    display: none;
}